.intro
  aside.intro__ads--left
    figure
      img(src="", alt="")
    .intro__ads--descriptionLeft
      h2 #{titulo_main[0]}
      h3 #{titulo_main[1]}
      h4 #{titulo_main[2]}
  .intro__maintitle
    h1 #{titulo_main[3]}
    span
    h3 #{titulo_main[4]}
    span
  .intro__ads--right
    h2 #{titulo_main[5]}
    h2.price #{titulo_main[6]}
    h4 #{titulo_main[7]}
    img(src="", alt="")